.home-hero {
    background-image: url("/assets/sm-contact-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@media screen and (min-width: 1024px) {
    .home-hero {
        background-image: url("/assets/contact-hero.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
}
