@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: red;
}

body {
    font-family: var(--font-garammond), var(--font-g), var(--font-inter),
        sans-serif;
}

@layer utilities {
    .scrollbar {
        scrollbar-width: none;
    }
}
